.warapper
  .header
    .header__box
      .header__box__title
        Train Infomation
      .header__box__from
        東京
      .header__box__create
        新規投稿
  .main
    .main__box
      .main__box__for
        名古屋
        〜
        東京
      .main__box__info
        A