.warapper
  .header
    .header__box
      .header__box__title
        = link_to "Train Infomation", posts_path
      .header__box__links
        .header__box__links__from
          東京
        .header__box__links__create  
  .main
    