.warapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: mintcream;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}


.header {
  height: 100%;
  width: 100%;
  background-color: deepskyblue;
  color: white;
  line-height: 50px;
  &__box {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    &__title {
      font-size: 30px;
      font-weight: bold;
    }
    &__links {
      display: flex;
      font-size: 20px;
      &__create {
        margin-left: 20px;
      }
    }
  }
}
.main {
  height: 100%;
  width: 100%;
  &__box {
    padding: 20px 80px;
    &__contents {
      background-color: white;
      &__for {
        margin-bottom: 10px;
        font-size: 20px;
      }
    }
  }
}