.warapper {
  height: 100%;
  width: 100%;
}

a {
  text-decoration: none;
  color: black;
}
a:hover {
  color: red;
}


.header {
  &__box {
    &__title {

    }
    &__from {

    }
    &__create {

    }
  }
}
.main {
  &__box {
    &__for {

    }
    &__info {

    }
  }
}