.warapper {
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  background-color: mintcream;
}

a {
  text-decoration: none;
}

.header {
  height: 100%;
  width: 100%;
  background-color: deepskyblue;
  line-height: 50px;
  color: white;
  a {
    color: white;
  }
  a:hover {
    color: red;
  }
  &__box {
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    &__title {
      font-size: 30px;
      font-weight: bold;
    }
    &__links {
      display: flex;
      font-size: 20px;
      &__create {
        margin-left: 20px;
      }
    }
  }
}